<% provide(:title, "Edit " + @user.name) %>
<% if @profile.created_at == @profile.updated_at %>
	<h3>Welcome to Mana, tell us a little about you...</h3>
<% else %>
	<h3>Edit Your Profile</h3>
<%end%>
<%= form_for @profile do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :first_name, class: "form-control" %>
	<%= f.label :last_name %>
	<%= f.text_field :last_name, class: "form-control" %>
	<%= f.label :job_title %>
	<%= f.text_field :job_title, class: "form-control" %>
	<%= f.label :phone %>
	<%= f.text_field :phone, class: "form-control" %>
	<%= f.submit class: "btn btn-success"%>
<% end %>
