<%= form_for @client do |f| %>
<%= render 'error_messages' %>
<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :address %>
	<%= f.text_area :address, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :phone %>
	<%= f.text_field :phone, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :website %>
	<%= f.text_field :website, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :short_code %>
	<%= f.text_field :short_code, class: "form-control" %>
</div>
<div class="pull-right">
	<%= link_to "Cancel", clients_path, class: "btn btn-danger" %>
	<%= f.submit class:"btn btn-success" %>
</div>
<% end %>